/* Home.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;600&display=swap");

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.left-section {
  width: 40%;
}

.logo {
  width: auto; /* Fixed width */
  height: 100px;
}

.heading {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 600; /* Semibold */
}
.subtext {

  font-size: 20px;
  color: gray;

}

.textButton {
    display: inline-block; /* Prevents it from spanning all horizontally */
    font-size: 18px;
    color: #27A6FF; /* Adjust the text color */
    cursor: pointer;

    font-family: "Roboto", sans-serif;

   
  }
  .textButton i {
    margin-left: 8px; /* Add padding to space out the icon from the text */
    transition: transform 0.3s ease;
  }
  
  .textButton:hover {
    color: #0e75be;
    transform: translateX(5px);
  }
  
  .right-section {
    display: flex;
    width: 50%;
    flex-direction: column; /* Stacks cards vertically */
    height: 100vh; /* Ensures full height of the container */
  }
  
  .card {
    flex-grow: 1; /* Allow cards to grow and fill the available space */
    margin: 10px 0;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
  }
  
  .card.two {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: auto; 
    
    background-image: url('../img/color-bg.png'); /* Set the background image */
    background-size: cover; /* Ensures the image covers the entire card */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    
    /* Let the content define the height */
  }
  .zeezaHeading{
    color: white;
    size: 50px;
  }
  
  